{% extends "./_includes/layouts/default.njk" %}
{% import "./_includes/macros/inputs.njk" as inputs %}

{% set title = "Auto Finance Calculator" %}
{% set description = "Discover the complete cost of purchasing your vehicle." %}

{% block header %}
  <img class="inline-block w-16" src="image/icon.png">
  <h1 class="text-4xl font-bold text-white inline">Auto Finance Calculator</h1>
{% endblock %}

{% block main %}
  <article class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-6">

    <section class="mb-2 p-2">
      <form class="accent-indigo-300">
        <h3 class="text-2xl mb-2">Finances<h3>
        <fieldset class="mb-4">
          <div class="grid grid-cols-2 gap-x-6 gap-y-6 mb-2">
            {{ inputs.number("annual-income", "Annual Net Income", 40000) }}
          </div>
        </fieldset>

        <h3 class="text-2xl mb-2">Purchase<h3>
        <fieldset class="mb-4">
          <div class="grid grid-cols-2 gap-x-6 gap-y-6 mb-2">
            {{ inputs.number("asking-price", "Asking Price", 38000) }}
            {{ inputs.numberDecimal("sales-tax", "Sales Tax", 6) }}
          </div>

          <div class="grid grid-cols-3 gap-x-6 gap-y-6 mb-2">
            {{ inputs.number("trade-in", "Trade-in Value", "0") }}
            {{ inputs.number("tags-title", "Tags/Title Cost", 2000) }}
            {{ inputs.number("fees", "Fees", 2000) }}
          </div>

          <div>
            {{ inputs.checkbox("paying-cash", "Paying in Full - All Cash") }}
          </div>

          <br>
          <div id="financing-options">
            {{ inputs.dualNumberInput("down-payment", "Down Payment", "$", "%", 4500, 12) }}

            {{
              inputs.radioOptions("Loan Terms", "loan-terms", [
                {id: "loan-terms-36", value: "36", label:"36 Months"},
                {id: "loan-terms-48", value: "48", label:"48 Months"},
                {id: "loan-terms-60", value: "60", label:"60 Months"},
                {id: "loan-terms-72", value: "72", label:"72 Months", checked: true},
                {id: "loan-terms-84", value: "84", label:"84 Months"}
              ])
            }}

            <div class="grid grid-cols-2 gap-x-6 gap-y-6 mb-2">
              {{ inputs.numberDecimal("apr", "Annual Percentage Rate (APR) %", 6) }}
            </div>
          </div>
        </fieldset>

        <h3 class="text-2xl mb-2">Fuel<h3>
        <fieldset class="mb-4">
          <div class="grid grid-cols-3 gap-x-6 gap-y-6 mb-2">
            {{ inputs.number("annual-mileage", "Annual Mileage", 10000) }}
            {{ inputs.number("mpg", "MPG/MPGe (Combined)", 131) }}
            {{ inputs.number("gas-price", "Gas Price (Per Gallon)", 3.46) }}
          </div>
        </fieldset>

        <h3 class="text-2xl mb-2">Insurance<h3>
        <fieldset class="mb-4">
          {{ inputs.dualNumberInput("annual-insurance", "Insurance Cost", "Annual", "Monthly", 2200, 183) }}
        </fieldset>

        <h3 class="text-2xl mb-2">Maintenance and Repairs<h3>
        <fieldset class="mb-4">
          <div class="grid grid-cols-2 gap-x-6 gap-y-6 mb-2">
            {{ inputs.number("annual-maintenance", "Annual Maintenance Cost", 359) }}
            {{ inputs.number("annual-repair", "Annual Repair Cost", 652) }}
          </div>
        </fieldset>

        <button class="bg-indigo-600 hover:bg-indigo-400 text-white font-bold py-2 px-4 rounded">Calcuate</button>
      </form>
    </section>

    <section class="p-2">
      <div id="cost-summary">
      </div>

      <div id="total-vehicle-cost-table" class="border-solid border-2 p-3 text-indigo-600 border-indigo-600">
      </div>

      <div id="monthly-expenses-cost-table" class="border-solid border-2 p-3 text-indigo-600 border-indigo-600">
      </div>
    </section>

  </article>

  <div class="bg-red-500 text-white font-bold p-3 fixed bottom-0 right-0 hidden" id="warning-alert">
    <span class="float-right cursor-pointer" onclick="this.parentElement.classList.add('hidden');">&times;</span>
    <p></p>
  </div>
{% endblock %}
