<section id="cost-breakdown" class="p-2 hidden pane">
  <div id="cost-summary">
  </div>

  <div id="total-vehicle-cost-table" class="border-solid border-2 p-3 text-accent border-accent">
  </div>

  <div id="monthly-expenses-cost-table" class="border-solid border-2 p-3 text-accent border-accent">
  </div>
</section>
