<ul id="progress-stepper" class="grid grid-cols-3 sm:grid-cols-6 gap-x-2 gap-y-2 mb-2">
  <li>
    <button data-target="personal-section" class="active-step">1</button>
    <span>Personal</span>
  </li>

  <li>
    <button data-target="purchase-section">2</button>
    <span>Purchase</span>
  </li>

  <li>
    <button data-target="fuel-section">3</button>
    <span>Fuel</span>
  </li>

  <li>
    <button data-target="insurance-section">4</button>
    <span>Insurance</span>
  </li>

  <li>
    <button data-target="maintenance-section">5</button>
    <span>Maintenance</span>
  </li>

  <li>
    <button data-target="cost-breakdown">6</button>
    <span>Results</span>
  </li>
</ul>
<p class="text-center text-gray-500"><small>Click one to skip to a step</small></p>
