<div class="bg-red-500 text-white font-bold p-3 fixed bottom-0 right-0 hidden" id="warning-alert">
  <span class="float-right cursor-pointer" onclick="this.parentElement.classList.add('hidden');">&times;</span>
  <p></p>
</div>
