{% raw %}
<h3 class="text-xl font-bold">Additional Annual Expenses</h3>

<table class="table-auto w-full">
  <tbody>
    <tr>
      <td><b>Expenses</b></td>
      <td class="text-right"><b>{{ expenses }}</b></td>
    <tr>

    <tr>
      <td class="pl-5">Fuel</td>
      <td class="text-right">{{ fuel }}</td>
    <tr>
    <tr>
      <td class="pl-10">{{ fuelUnit.abbreviation }} used per year</td>
      <td class="text-right">{{ fuelUsed }} {{ fuelUnit.abbreviation }}</td>
    <tr>
    <tr>
      <td class="pl-10">Annual Mileage</td>
      <td class="text-right">{{ annualMilage }} {{ distanceUnit.abbreviation }}</td>
    <tr>
    <tr>
      <td class="pl-10">Fuel Efficiency</td>
      <td class="text-right">{{ efficiency }} {{ efficiencyUnits }}</td>
    <tr>
    <tr>
      <td class="pl-10">Cost per {{ fuelUnit.abbreviation }}</td>
      <td class="text-right">{{ fuelPrice }}</td>
    <tr>

    <tr>
      <td class="pl-5">Insurance</td>
      <td class="text-right">{{ insurance }}</td>
    <tr>

    <tr>
      <td class="pl-5">Maintenance</td>
      <td class="text-right">{{ maintenance }}</td>
    <tr>

    <tr>
      <td class="pl-5">Repair</td>
      <td class="text-right">{{ repairs }}</td>
    <tr>
  </tbody>
</table>
{% endraw %}
