{% macro input(id, type, placeholder, value) %}
  <input class="mt-1 px-3 py-2 bg-white border border-slate-300 rounded-md text-sm block w-full focus:outline-none focus:ring focus-accent" id="{{ id }}" type="{{ type }}" {{ 'value=' + value if value }} placeholder="{{ placeholder }}">
{% endmacro %}

{% macro inputLabel(id, label) %}
  <label class="block text-sm font-medium leading-6 text-gray-900" for="{{ id }}">{{ label | safe }}</label>
{% endmacro %}

{% macro number(id, label, value) %}
  <div>
    {{ inputLabel(id, label) }}
    {{ input(id, "number", label, value) }}
  </div>
{% endmacro %}

{% macro numberDecimal(id, label, value) %}
  <div>
    {{ inputLabel(id, label) }}
    <input class="mt-1 px-3 py-2 bg-white border border-slate-300 rounded-md text-sm block w-full focus:outline-none focus:ring focus-accent" id="{{ id }}" type="{{ type }}" {{ 'value=' + value if value }} step="0.01"  placeholder="{{ label }}">
  </div>
{% endmacro %}

{% macro dualNumberInput(id, topLabel, labelOne, labelTwo, valueOne, valueTwo) %}
  <div>
    {{ inputLabel("", topLabel) }}

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-6 mb-2">
      <div>
        {{ inputLabel(id + "-one", labelOne) }}
        <input class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm" id="{{ id }}-one" type="number" {{ 'value=' + valueOne if valueOne }} placeholder="{{ labelOne }}">
      </div>
      <div>
        {{ inputLabel(id + "-two", labelTwo) }}
        <input class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm" id="{{ id }}-two" type="number" {{ 'value=' + valueTwo if valueTwo }} placeholder="{{ labelTwo }}">
      </div>
    </div>
  </div>
{% endmacro %}

{% macro checkbox(id, label) %}
  <div>
    {{ inputLabel(id, label) }}
    <input id="{{ id }}" class="h-4 w-4" type="checkbox">
  </div>
{% endmacro %}

{% macro radioOptions(label, name, options, includeCustom = false) %}
  <div>
    {{ inputLabel("", label) }}
    <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 mb-2">
      {% for option in options %}
        <div>
          {{ inputLabel(option.id, option.label) }}
          <input id="{{ option.id }}" name="{{ name }}" value="{{ option.value }}" class="h-4 w-4" type="radio" {{ 'checked' if option.checked }}>
        </div>
      {% endfor %}
      {% if includeCustom %}
        <div>
          {{ inputLabel("", "Other") }}
          {{ input(name + "-other", "number", "Other") }}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro preferenceDropdown(id, label, options) %}
  <div>
    {{ inputLabel(id, label) }}
    <select class="preference mt-1 px-3 py-2 bg-white border border-slate-300 rounded-md text-sm block w-full focus:outline-none focus:ring focus-accent" id="{{ id }}">
      {% for option in options %}
        <option value="{{ option.value }}">
          {% if option.title %}
            {{ option.title }}
          {% else %}
            {{ option.value }}
          {% endif %}
        </option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
